<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<form id="ratings_form" action="/movies" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;">
  Include:
    PG-13
    <input type="checkbox" name="ratings[PG-13]" id="ratings_PG-13" value="1"/ checked='true'>
    R
    <input type="checkbox" name="ratings[R]" id="ratings_R" value="1" checked='false'/>
    G
    <input type="checkbox" name="ratings[G]" id="ratings_G" value="1" checked/>
    PG
    <input type="checkbox" name="ratings[PG]" id="ratings_PG" value="1" checked/>
  <input type="submit" name="commit" value="Refresh" />
</form>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th class="<%= ("hilite bg-warning" if @sort == 'title') %>" ><%= link_to "Movie Title",movies_path(sort: "title"),id: "title_header"%></th>
      <th>Rating</th>
      <th class="<%= ("hilite bg-warning" if @sort == 'release_date') %>"><%= link_to "Release Date",movies_path(sort: "release_date"),id: "release_date_header"%></th>
      <th>More Info</th> 
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>