<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<!--<form id="ratings_form" action="<%=movie_path%>" method="<%=:get%>">-->
  <p>Include: </p>
  <%= check_box_tag('G', value = "ratings[#{rating}]", checked = if @filtered_ratings.find_index(rating)) %>
  <%= check_box_tag('PG', value = "ratings[#{rating}]", checked = if @filtered_ratings.find_index(rating)) %>
  <%= check_box_tag('PG-13', value = "ratings[#{rating}]", checked = if @filtered_ratings.find_index(rating)) %>
  <%= check_box_tag('R', value = "ratings[#{rating}]", checked = if @filtered_ratings.find_index(rating)) %>
<!--  <input type="submit" id="ratings_submit" class="btn btn-primary" value="Refresh">-->
<!--</form>-->


<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th class="<%= ("hilite bg-warning" if @sort == 'title') %>" ><%= link_to "Movie Title",movies_path(sort: "title"),id: "title_header"%></th>
      <th>Rating</th>
      <th class="<%= ("hilite bg-warning" if @sort == 'release_date') %>"><%= link_to "Release Date",movies_path(sort: "release_date"),id: "release_date_header"%></th>
      <th>More Info</th> 
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>